html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cataloguePlaceholder {
    background-color: #1e90ff; /* bright blue */
    color: #111; /* dark text for readability */
    font-weight: bold;
    font-style: italic;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin-bottom: 15px;
}